<h1><%= @team.name %></h1>
<h2>Team Motto: <%= @team.motto %></h2>

<% @members.each do |member| %>
  <h2><%= member.name %></h2>
  Hero Power: <%= member.power %><br>
  Hero Biography: <%= member.bio %><br>
<% end %>
